html.body{
  margin:0;
  padding:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr auto;
}

header,footer{
  background-color: rgb(135, 250, 183);
  display: flex;
  justify-content: center;
  gap: 1rem;

}